.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0rem;
	min-height: 100vh;
}

.welcome {
	background-color: rgb(43, 108, 220);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding: 15px;
}
